{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block content %}

<link
      rel="stylesheet"
      href="{{url_for('feed.static', filename='feed.css')}}">
<head>
    <title>Feed</title>
  </head>
  <body>
    <br>
    <h1 align="center">Feed</h1>
    <br>
    {%if length==0%} 
    <br>
    <br>
    <br>
    <h2 align="center">Follow more users!</h2>
    {%endif%}
    <div class = "feed-container" id="feed-container">
      {% for album in feed %}
        <div class="feed">
          <div class = "album-image">
            <h2>{{album.album_name}}</h2>
            <br>
            <img src="{{ album.album_img }}" alt="Album Cover">
            <p class="song-url"><a id='song-link' target="_blank" href="{{album.album_url}}">Listen -></a></p>
          </div>
            <div class="album-container">
              <div class="album-text">
                <p>Rating: {{ album.rating }}</p>
                <p id="review">Review: {{ album.review }}</p>
              </div>
              <p id="tag">Reviewed by <a href="{{ url_for('profiles.profile', username = album.user.username) }}">@{{album.user.username}}</a> {{ convert_datetime(album.date) }}</p>
            </div>
          
        </div>
      {% endfor %}
    </div>
    <div id="loading-symbol">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </body>
  {% endblock %}

  