{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content
    %}
    <link rel="stylesheet" href="../static/all_reviews.css">    
    <br>
    <br>
    <ul class="album-list">
        {% for album in albums %}
        <div class="the-card">
        <li class="album-item">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="{{album.album_img}}" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <div class="album-review">{{album.review}}</div>
                  </div>
                </div>
              </div>
              <div class="meta-info">
                <h1>{{album.album_name}}</h1>
                    <p id="artist-name">{{album.artist_name}}</p>
                    <p id="rating">Rating: <strong>{{album.rating}}</strong></p>
                    <p>{{get_date(album.date)}}</p>
              </div>
        </li>
    </div>
        {% endfor %}
      </ul>
      <br>
      <br>
      <br>
      <br>
  {% endblock %}