<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='stackpath.bootstrapcdn.com_bootstrap_4.4.1_css_bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <h1>Liner Notes</h1>
        <div class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="feed" href="/feed">Feed</a>
          <a class="nav-item nav-link" id="search" href="/search">Search Album</a>
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="search-user-dropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Search User
            </a>
            <div class="dropdown-menu" aria-labelledby="search-user-dropdown">
              <form class="px-4 py-3" id="search-user-form">
                <div class="form-group">
                  <input type="text" class="form-control" id="search-user-input" placeholder="Enter user">
                  <div id="search-user-error" class="search-user-error"></div> <!-- Element for displaying error message -->
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
              </form>
            </div>
          </div>
          <a class="nav-item nav-link" id="profile" href="/my-profile">My Profile</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Create Account</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div id="success-message" style="display: none; margin-top: 10px;">
      <div class="alert alert-success" role="alert">
        Album added successfully!
      </div>
    </div>

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% block javascript %}
<script type="text/javascript">

    function handleSearchUserFormSubmit(event) {
        event.preventDefault();

        const username = document.getElementById('search-user-input').value;
        const url = '/profile/' + username;

        // Make an AJAX request to the server-side existence check API
        fetch('/check-user-exists', {
            method: 'POST',
            body: JSON.stringify({ username: username }),
            headers: {
            'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
            if (data.exists) {
                window.location.href = url; // Redirect to the user's profile page
            } else {
                //alert('User does not exist'); // Display an error message
                // You can choose to keep the user on the same page or perform a different action here
                const errorElement = document.getElementById('search-user-error');
                errorElement.textContent = 'User does not exist'; // Display the error message
                errorElement.classList.add('search-user-error-show'); // Show the error message element
            }
            })
            .catch(error => {
            console.error('Error:', error);
            });
        }

    document.getElementById('search-user-form').addEventListener('submit', handleSearchUserFormSubmit);

    function showReviewForm(albumImgUrl, albumName) {
        const reviewForm = document.getElementById(`reviewForm-${albumName}`);
        if (reviewForm.style.display === 'block') {
        reviewForm.style.display = 'none';
        } else {
        reviewForm.style.display = 'block';
        }
    }

    

    
</script>

<style>
    .search-user-error {
        display: none;
        color: red;
        margin-top: 5px;
    }

    .search-user-error-show {
        display: block;
    }

    #treble {
      width: 2%;
      padding: 8px;
    }
</style>
{%endblock%}
  </body>
</html>
