{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block content %}

<style>
  .playlist-container {
    background-color: #1c1c1c;
    padding: 20px;
    margin-bottom: 40px;
  }

  .album-list,
  .track-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .album-item,
  .track-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .album-cover,
  .track-cover {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    overflow: hidden;
  }

  .album-image,
  .track-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .album-details,
  .track-details {
    color: #fff;
  }

  .album-title,
  .track-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }

  .album-rating,
  .album-review,
  .track-artist,
  .track-album {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }

  .track-list {
    display: flex;
    flex-direction: column;
  }

  h1,
  h2 {
    color: white;
  }

  body {
    background-color: black;
  }

  .track-details p {
    color: rgb(160, 158, 158);
  }

  .top-tracks-container {
    width: 60%; /* Adjust the width as desired */
  }
  p {
    color: white;
  }
</style>

{% for album in feed %}
    <div class="feed">
      <h2>{{ album.album_name }}</h2>
      <p>{{ album.user.username }} reviewed this album</p>
      <img src="{{ album.album_img }}" alt="Album Cover">
      <p>Rating: {{ album.rating }}</p>
      <p>Review: {{ album.review }}</p> 
      <p>{{convert_datetime(album.date)}}</p>
    </div>
  {% endfor %}

{% endblock %}