{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">{{user.username}}'s Albums</h1>
    <h1>Who I follow</h1>
    <ul class="user-list">
      {% for followed_user in user.following %}
      <li>{{ followed_user.username }}</li>
      {% endfor %}
    </ul>

    <h1>Who follows me</h1>
    <ul class="user-list">
      {% for followed_user in user.follower %}
      <li>{{ followed_user.username }}</li>
      {% endfor %}
    </ul>

    <ul class="list-group list-group-flush" id="albums">
      {% for album in user.albums %}
      <li class="list-group-item">
        {{ album.album_name }}
        <img src={{album.album_img}} alt="Album Cover">
        {{album.rating}}
        {{album.review}}
        <button type="button" class="close" onClick="deleteAlbum('{{ album.id }}')">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>

    <h1>Feed</h1>
  <div id="feed-container">
    {% for album in user.feed %}
      <div class="feed">
        <h2>{{ album.album_name }}</h2>
        <p>{{ album.user.username }} reviewed this album</p>
        <img src="{{ album.album_img }}" alt="Album Cover">
        <p>Rating: {{ album.rating }}</p>
        <p>Review: {{ album.review }}</p>
      </div>
    {% endfor %}
    {% endblock %}
    