{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='profile.css')}}">

<h1 align="center">{{user.first_name}}</h1>
<p id="username" align="center">@{{user.username}}<p>
  {% if current_user.is_authenticated %}
  {% if current_user.id != user.id %}
  {% if current_user in user.follower %}
  <button type="button" class="unfollow-button" onclick="toggleFollow('{{ user.username }}')">Unfollow</button>
        {% else %}
        <button type="button" class="follow-button" onclick="toggleFollow('{{ user.username }}')">Follow</button>
        {% endif %}
  {% endif %}
{% endif %}
  <div class="fav-rev">
    {% if len(user.favorite_albums) > 0 %}
      <div class="fav-content">    
        <div class="fav-images">
          {% for favorite_album in user.favorite_albums%}
          <div class="my-fav-album-things">
            <button data-fav-modal-target="#fav-modal-{{favorite_album.id}}" class="img-button"><img src="{{ favorite_album.album_img }}" alt="Album Cover" class="fav-album-image"></button>
            <div class="fav-modal" id="fav-modal-{{favorite_album.id}}">
              <div class="fav-modal-header">
                <div class="fav-title">{{ favorite_album.album_name }} - {{favorite_album.artist_name}}</div>
                <button data-fav-close-button class="fav-close-button">&times;</button>
              </div>
              <div class="fav-modal-body">
                <p></p>
                <p>{{user.username}} favorited this album on {{get_date(favorite_album.date)}}</p>
              </div>
            </div>
          </div>   
            {% endfor %}
        </div>
        <div onclick="fav_side_slide(-1)" class="fav-slide left" id="fav-left">
          <span class="fa fa-angle-left"></span>
        </div>
        <div onclick="fav_side_slide(1)" class="fav-slide right" id="fav-right">
          <span class="fa fa-angle-right"></span>
        </div>
      </div>
      {%else%}
        <div class="empty"><br><br><br><p></p><h2 class="empty-favs">{{user.username}} has no favorited albums</h2></div>
      {%endif%}

  {% if len(user.albums) > 0 %}
  <div class="content">
    <div class="images">
      {% for album in user.albums%}
      <div class="my-album-things">
        <button data-modal-target="#modal-{{album.id}}" class="img-button"><img src="{{ album.album_img }}" alt="Album Cover" class="album-image"></button>
        <div class="modal" id="modal-{{album.id}}">
          <div class="modal-header">
            <div class="title">{{ album.album_name }} - {{album.artist_name}}</div>
            <button data-close-button class="close-button">&times;</button>
          </div>
          <div class="modal-body">
            <p class="album-rating"><strong>Rating:</strong> {{ album.rating }}</p>
            <p class="album-review"><strong>Review:</strong> {{ album.review }}</p>
          </div>
        </div>
        
      </div>   
        {% endfor %}
        
    </div>
    <div onclick="side_slide(-1)" class="slide left" id="left">
      <span class="fa fa-angle-left"></span>
    </div>
    <div onclick="side_slide(1)" class="slide right" id="right">
      <span class="fa fa-angle-right"></span>
    </div>
    <p></p>
    <a href="{{ url_for('views.all_reviews', username = user.username) }}" class="my-reviews-button">View All Album Reviews -></a>
  </div>
  {%else%}
  <div class="empty"><br><br><br><p></p><h2 class="empty-favs">{{user.username}} has not reviewed any albums!</h2></div>
  {%endif%}

</div>
<br>
<br>

{% if not user.top_tracks %}
 <h2>{{user.username}} has not connected their Spotify account</h2>
{%else%}
<div class="playlist-container top-tracks-container">
  <h2>{{user.username}}'s Top Tracks<img id="spotify-logo" src="../static/Spotify_App_Logo.svg"></h2>
  <ul class="track-list">
    {% for track_num, track in (user.top_tracks).items() %}
    <li class="track-item">
      <div class="track-cover">
        <img src="{{ track[1] }}" alt="Track Cover" class="track-image">
      </div>
      <div class="track-details">
        <h3 class="track-title">{{ track[0] }}</h3>
        <p class="track-artist">{{ track[2] }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<button align="center" type="submit" class="follow-button" id="follow-button"></button>
<div id="overlay"></div>

<script src="../static/profile.js"></script>
{% endblock %}
