{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<style>
  .playlist-container {
    background-color: #1c1c1c;
    padding: 20px;
    margin-bottom: 40px;
  }

  .album-list,
  .track-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .album-item,
  .track-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .album-cover,
  .track-cover {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    overflow: hidden;
  }

  .album-image,
  .track-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .album-details,
  .track-details {
    color: #fff;
  }

  .album-title,
  .track-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }

  .album-rating,
  .album-review,
  .track-artist,
  .track-album {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }

  .track-list {
    display: flex;
    flex-direction: column;
  }

  h1,
  h2 {
    color: white;
  }

  body {
    background-color: black;
  }

  .track-details p {
    color: rgb(160, 158, 158);
  }

  .top-tracks-container {
    width: 60%; /* Adjust the width as desired */
  }
  .follow-btn {
    margin-bottom: 10px;
  }
</style>

<h1>{{ user.username }}'s Profile!</h1>

<div class="playlist-container">
  <h2>{{user.username}}'s Albums</h2>
  <ul class="album-list">
    {% for album in user.albums %}
    <li class="album-item">
      <div class="album-cover">
        <img src="{{ album.album_img }}" alt="Album Cover" class="album-image">
      </div>
      <div class="album-details">
        <h3 class="album-title">{{ album.album_name }}</h3>
        <p class="album-rating">Rating: {{ album.rating }}</p>
        <p class="album-review">Review: {{ album.review }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% if not user.top_tracks %}
 <h2>{{user.username}} has not connected their Spotify account</h2>
{%else%}
<div class="playlist-container top-tracks-container">
  <h2>{{user.username}}'s Top Tracks</h2>
  <ul class="track-list">
    {% for track_num, track in (user.top_tracks).items() %}
    <li class="track-item">
      <div class="track-cover">
        <img src="{{ track[1] }}" alt="Track Cover" class="track-image">
      </div>
      <div class="track-details">
        <h3 class="track-title">{{ track[0] }}</h3>
        <p class="track-artist">{{ track[2] }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if current_user.is_authenticated %}
  {% if current_user.id != user.id %}
    <form action="{{ url_for('views.follow', username=user.username) }}" method="POST">
      <button type="submit" class="btn btn-primary follow-btn">
        {% if current_user in user.follower %}
          Unfollow
        {% else %}
          Follow
        {% endif %}
      </button>
    </form>
  {% endif %}
{% endif %}

{% endblock %}
