{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <link
      rel="stylesheet"
      href="{{url_for('search.static', filename='search.css')}}">

<body id="main-body">
      <br>
<form method="POST">
    <input name="artist" id="artist" class="form-control" placeholder="Enter Artist Name"></input>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary" id="search-button">
          Search</button>
    </div>
  </form>
<br>
  <ul class="album-list">
    {% for album in img_urls %}
    <li class="album-item">
      <button data-modal-target="#modal-{{album[2]}}" type="button" class="album-button-{{album[2]}}">
        <figure><img src="{{ album[0] }}" alt="Album Cover" class="album-image"></figure>
        <p class="album-name">{{ album[1] }}</p>
      </button>
      <dialog class="modal-{{album[2]}}" id="modal-{{album[2]}}">
        <div class="modal-header">
          <div class="title"><h2>{{ album[1] }}</h2></div>
          <button data-modal-close="#modal-{{album[2]}}" class="close-button">&times;</button>
        </div>
        <div>
        <div class="spotify-attribution">
          Data via <img id="spotify-logo" src="../static/Spotify_Logo_RGB_Green.png">
        </div>
        <br>
        <br>
        <br>
        <img src ="{{album[0]}}">
        <p><a id="album-link" target="_blank" href="{{album[4]}}">Go to album on Spotify</a></p>
        <p></p>
        <div class="fav-but">
        <button title="Add to favorites" onclick="toggleFavorite('{{album[2]}}')" class="favorite-button" id="favorite-button-{{album[2]}}">
          <i class="fa-solid fa-heart"></i>
        </button>
      </div>
            <form method="dialog" data-img="{{ album[0] | safe }}" data-album="{{ album[1] | safe }}" data-albumid="{{ album[2] | safe }}" data-artist="{{ album[3] | safe }}" onsubmit="submitReview(event, this)">
            <label align="left" for="rating"><strong>Rating:</strong></label>
            <input align = "left" type="number" class = "rat" name="rating-{{album[2]}}" id="rating-{{album[2]}}" min="0" max="10" step="0.5" placeholder="10" required>
            <br>
            <label for="review"></label>
            <textarea maxlength="528" name="review-{{album[2]}}" id="review-{{album[2]}}" rows="4" cols="50" placeholder = "Enter Review" required></textarea>
            <div id="the-count">
              <span id="current-{{album[2]}}">0</span>
              <span id="maximum">/ 528</span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Album Review</button>
          </form>
      </dialog>
    
    </li>
    {% endfor %}
  </ul>
  <br>
  <br>
</body>
  <script src="https://kit.fontawesome.com/e23cb7b9b9.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{url_for('search.static', filename='search.js')}}"></script>
  {% endblock %}