.rev-content {
    /* height: 400px;
    width: 700px; */
    overflow: hidden;
    position: relative;
    align-items: center;

}

.album-image {
    display: block;
    border: 5px solid rgb(255, 253, 253);
}

.img-button {
    padding: 0;
}

.img-button:hover {
    border-color: #0a9b3d;
          border-width: 7px;
    background: rgba(255, 255, 255, 0.2);
}

.images {
    margin: 0;
    padding: 0;
}
.my-album-things {
  text-align: center;
  margin: 0;
  padding: 0;
}

.rev-content {
  align-items: center;
  text-align: center;
}
.rev-content .slide{
  /* top: 50%; */
  /* transform: translateY(-150%); */
  /* border: 2px solid white; */
  border-radius: 1px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

#left {
  position: absolute;
  top: 40%;
  left: 12%;
}

#left.hidden {
    display: none;
}

#right {
  position: absolute;
  top: 40%;
  right: 12%
}

#right.hidden {
    display: none;
}

.rev-content .slide:hover {
  background: rgba(255, 255, 255, 0.2);
}
.slide span {
  font-size: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
}

.playlist-container {
    /* background-color: #1c1c1c; */
    background-color: #1B1413;
    padding: 20px;
    margin-bottom: 40px;
    transform: translateX(33%);
    border: 2px solid rgb(255, 253, 253);
  }

  .album-list,
  .track-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .album-item,
  .track-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .album-cover,
  .track-cover {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    overflow: hidden;
  }

  .track-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .album-details,
  .track-details {
    color: #fff;
  }

  .album-title,
  .track-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }

  .album-rating,
  .album-review,
  .track-artist,
  .track-album {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }

  .track-list {
    display: flex;
    flex-direction: column;
  }

  h1,
  h2 {
    color: white;
  }

  body {
    background-color:black;
    background-image: linear-gradient(black, rgb(17, 44, 25), rgb(43, 124, 52));
  }

  .track-details p {
    color: rgb(160, 158, 158);
  }

  .top-tracks-container {
    width: 60%; /* Adjust the width as desired */
  }

  .button {
    color: black;
  }

  .rev-modal {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(0) !important;
    transition: 200ms ease-in-out !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
    z-index: 10 !important;
    background-color: white !important;
    width: 500px !important;
    max-width: 80% !important;
  }

  .rev-modal.active {
    transform: translate(-50%, -50%) scale(1) !important;
  }
  .rev-modal-header {
    padding: 10px 15px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border-bottom: 1px solid black !important;
  }

  .rev-modal-header .title {
    font-size: 1.25rem !important;
    font-weight: bold !important;
  }

  .rev-modal-header .close-button {
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    background: none !important;
    font-size: 1.25rem !important;
    font-weight: bold !important;
  }

  .rev-modal-body {
    padding: 10px 15px !important;
  }

  #overlay {
    position: fixed !important;
    opacity: 0 !important;
    transition: 200ms ease-in-out !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    pointer-events: none !important;
    /* filter: blur(100px); */
  }

  #overlay.active {
    opacity: 1 !important;
    pointer-events: all !important;
  }

  
  .fav-content {
    /* height: 400px;
    width: 700px; */
    overflow: hidden;
    position: relative;
    align-items: center;
    

}

.fav-album-image {
    display: block;
    border: 5px solid rgb(255, 253, 253);
}

.img-button {
    padding: 0;
}

.img-button:hover {
    border-color: #0a9b3d;
          border-width: 7px;
    background: rgba(255, 255, 255, 0.2);
}

.fav-images {
    margin: 0;
    padding: 0;
}
.my-fav-album-things {
  text-align: center;
  margin: 0;
  padding: 0;
}

.fav-content {
  align-items: center;
  text-align: center;
}
.fav-content .fav-slide{
  /* top: 50%; */
  /* transform: translateY(-150%); */
  /* border: 2px solid white; */
  border-radius: 1px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

#fav-left {
  position: absolute;
  top: 40%;
  left: 12%;
}

#fav-left.hidden {
    display: none;
}

#fav-right {
  position: absolute;
  top: 40%;
  right: 12%
}

#fav-right.hidden {
    display: none;
}

.fav-content .fav-slide:hover {
  background: rgba(255, 255, 255, 0.2);
}
.fav-slide span {
  font-size: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
}

  .fav-modal {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(0) !important;
    transition: 200ms ease-in-out !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
    z-index: 10 !important;
    background-color: white !important;
    width: 500px !important;
    max-width: 80% !important;
  }

  .fav-modal.active {
    transform: translate(-50%, -50%) scale(1) !important;
  }
  .fav-modal-header {
    padding: 10px 15px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border-bottom: 1px solid black !important;
  }

  .fav-modal-header .fav-title {
    font-size: 1.25rem !important;
    font-weight: bold !important;
  }

  .fav-modal-header .fav-close-button {
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    background: none !important;
    font-size: 1.25rem !important;
    font-weight: bold !important;
  }

  .fav-modal-body {
    padding: 10px 15px !important;
  }

  #fav-overlay {
    position: fixed !important;
    opacity: 0 !important;
    transition: 200ms ease-in-out !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    pointer-events: none !important;
    /* filter: blur(100px); */
  }

  #fav-overlay.active {
    opacity: 1 !important;
    pointer-events: all !important;
  }
  
  
  
  #username {
    color: white;
    font-size: 30px;
  }

  #spotify-logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    padding: 5px;
    overflow-clip-margin: content-box;
    overflow: clip;

}

/* .rowsy {
  display: flex;
  margin: 60px 100px 500px 50px;
} */

.fav-rev {
  display: grid;
  /* margin: 60px 0; */
  /* gap: 50px; */
  /* align-items: center; */
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.empty {
    /* background-color: #1c1c1c; */
    background-color: #1B1413;
    /* border-width: 10px solid white; */
    padding: 20px;
    margin-bottom: 40px;
    height: 310px;
    width: 330px;
    transform: translate(33%, 1%);
    text-align: center;
    border: 5px solid rgb(255, 253, 253);
  }

  .empty h2 {
    text-align: center;
  }

  .album-rating {
    font-size: 20px;
    font-family: "Optima", sans-serif;
  }

  .album-review {
    font-size: 20px;
    font-family: "Optima", sans-serif;
  }

  .my-reviews-button {
    color: rgb(64, 141, 228);
  }

  #favorites-tag {
    margin-top: 18px;
    color: white;
  }

  #del-fav-button {
    /* border: 3px solid black; */
    border: transparent;
    background-color: transparent;
    /* font-weight: 500px;
    color: rgb(0, 0, 0); */
  }

  #del-button {
    padding: 0px;
    color: rgb(192, 7, 7);
    font-size: 30px;
  }

  #del-button:hover {
    color: red;
  }

  #favorites-date {
    padding: 0px;
    margin-bottom: 0px;
  }

  .follow-following {
    /* display: inline-block; */
    position: relative;
    height: 50px;
    width: 200px;
    left: 42%;
    top: 20%;
    margin-bottom: 20px;
    column-gap: 0;
  }

  .follow-following-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 20px; */
    column-gap: 0px;
    z-index: 0;
    color: white;
  }

  .modal-dialog {
    max-width: 100px; 
  }
  .modal {
    position: absolute;
  max-width: 300px;
  transform: translate(250%, 0%);
  }

  .modal-body {
    max-height: 200px;
    /* max-width: 200px; */
    overflow-y: auto;
  }

  /* .model-content {
    max-width: 100px;
  } */

  .modal-body .list-group-item {
    border: none;
    background-color: transparent;
    color: #000;
  }

  .modal-header {
    background-color: black;
    color: white;
  }

  .modal-content {
    background-color: black !important;
    border: 1px solid white !important;
  }

  #follower-button {
    color: #007bff;
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
  }

  #follower-button:hover {
    color: rgb(58, 58, 206);
    text-decoration: underline;
  }


  #following-button {
    color: #007bff;
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
  }

  #following-button:hover {
    color: rgb(58, 58, 206);
    text-decoration: underline;
  }


  

  /* .list-group {
      list-style: none;
          padding: 0;
          margin: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          z-index: 0;
  } */


  .togglefollow {
    box-shadow: inset 0 0 0 0 rgba(7, 151, 234);
    color: rgba(7, 151, 234);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
    padding: 6px 16px;
    background-color: transparent;
    border: 1px solid ;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 900px;
    outline: None;
    margin-left: 10px;
  }

  .togglefollow:hover {
    box-shadow: inset 100px 0 0 0 rgba(7, 151, 234);
    border: 3px solid white;
  color: black;
  }

  .unfollow-button:hover {
    box-shadow: inset 100px 0 0 0 rgba(7, 151, 234);
    border: 3px solid white;
  color: black;
  }

  #profile-link {
    color: rgb(0, 255, 102);
  }

  #profile-link:hover {
    color: rgb(13, 181, 80);
  }


  .delete-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  /* Styles for the modal content */
  .delete-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Styles for the close button */
  .delete-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
  }

  #delete-account-btn {
    position: relative;
    left: 115%;
    /* bottom: 10px;
    right: 10px; */
    padding: 10px 20px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #confirm-delete-btn {
    background-color: red;
    color: white;
    border: 1px solid white;
  }

  